.card {
  background-color: #f8f9fa;
  border-radius: 10px;
}
  textarea {
    width: 100%;
    font-family: monospace;
    resize: none;
  }
  
  button {
    width: 100px;
  }
  
  .col-2 {
    height: 300px; /* Adjust this based on your design */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  